@import url('https://fonts.googleapis.com/css2?family=koulen&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaper90s.jpg) no-repeat;
    /* Фоновый рисунок */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
ul
{
    position: relative;
    transform: skewY(-15deg);
}
ul li
{
position: relative;
list-style: none;
width: 200px;
background: red;
padding: 15px;
z-index: var(--i);
transition: 0.5s;
}
ul li:hover::before
{
    background: rgb(202, 15,15);
}
ul li:hover
{
    background: rgb(202, 15, 15);
    transform: translateX(-50px);
}
ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left:-40px;
    width: 40px;
    height: 100%;
    background: rgb(184, 28, 28);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
ul li::after
{
    content:'';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: red;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;

}
ul li:hover::after
{
    background:rgb(202, 15, 15);;
}
ul li a
{
    text-decoration: none;
    color: white;
    display: block;
    letter-spacing: 0.05em;
    transition: 0,5s;
}
ul li:hover a
{
    color: #fff;
}
ul li:last-child::after
{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

.buycardrom {
  align-items: center;
  bottom: 10%;
/* background-color: #222; */
  border-radius: 40px;
  border-style: center;
  box-sizing: border-box;
/* color: #fff; */
  cursor: pointer;
  display: flex;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: none;
  margin-right: 70%;
  max-width: none;
  min-height: 40px;
  min-width: 300px;
  outline: none;
  overflow: hidden;
  padding: 0px 60px ;
  position: absolute;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buycardrom:hover,
.buycardrom:focus {
  opacity: .75;
}
.buycarautoru {
    align-items: center;
    bottom: 10%;
  /* background-color: #222; */
    border-radius: 40px;
    border-style: center;
    box-sizing: border-box;
  /* color: #fff; */
    cursor: pointer;
    display: flex;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: none;
    margin-right: 40%;
    max-width: none;
    min-height: 40px;
    min-width: 300px;
    outline: none;
    overflow: hidden;
    padding: 0px 60px ;
    position: absolute;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buycardrom:hover,
  .buycardrom:focus {
    opacity: .75;
  }
  
/*https://auto.drom.ru/all/?multiselect[]=9_0_0_0&multiselect[]=6_0_0_0&multiselect[]=2_0_0_0&multiselect[]=4_0_0_0&multiselect[]=7_0_0_0&multiselect[]=1_0_0_0&multiselect[]=8_0_0_0&multiselect[]=5_0_0_0&maxyear=2005&ph=1&pts=2&damaged=2&unsold=1*/