@font-face {
    font-family: neon;
    src: url(Megumi.ttf);
  }
  .neon-text {
    font-family: neon;
    font-size: 12rem;
    color: white;
    text-shadow:
      .1vw 0vw .25vw white, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,
  
      .1vw 0vw 0vw rgb(255, 255, 255), .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
      .1vw 0vw .1vw rgba(255, 255, 255) .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
      .1vw 0vw 2vw rgba(255, 255, 255) .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,
  
      .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
      .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
      .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;
  }
  .jdmbutton {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-around;
  }
  .btn- {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
    transition: 0, 3s;
  }
  .first {
    color: black;
  }
  .first:hover {
    background-color: rgba(0, 0, 0, 0.144);
    box-shadow: 10px 10px 100px 6px rgb(197, 185, 185);
  }
  .red {
    font-family: neon;
    font-size: 12rem;
    color: red;
    text-shadow:
      .1vw 0vw .25vw white, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,
  
      .1vw 0vw 0vw rgb(255, 255, 255), .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
      .1vw 0vw .1vw rgba(255, 255, 255) .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
      .1vw 0vw 2vw rgba(255, 255, 255) .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,
  
      .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
      .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
      .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;
  } 
.takumi {
  float: left;
  background-image: url(img1.png);
  margin: 0 0 5px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.keisuke {
  float: right;
  transform: scale(-1, 1);
  margin: 0 0 5px 5px;
  background-image: url(img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }
 body {
  margin: 0;
  bottom: 0;
  height: 100%;
}
