body {
    background: url(wallpaper.jpg);
    background-size: cover;
}
@font-face {
    font-family: neon;
    src: url(Megumi.ttf);
  }
  .neon-text {
    font-family: neon;
    font-size: 12rem;
    color: gray;
    text-shadow:
      .1vw 0vw .25vw gray, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,
  
      .1vw 0vw 0vw rgba(128, 128, 128, 0.747), .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
      .1vw 0vw .1vw rgba(128, 128, 128, 0.747) .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
      .1vw 0vw 2vw rgba(128, 128, 128, 0.747) .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,
  
      .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
      .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
      .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;
  }
  .jdmbutton {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-around;
    /*background-color: red;*/
  }
  .btn- {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
    transition: 0, 3s;
  }
  .first {
    color: black;
  }
  .first:hover {
    background-color: black;
    box-shadow: 10px 10px 100px 6px rgb(197, 185, 185);
  }
  